@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3 {
  line-height: 1.1;
}

#root,
#__next {
  isolation: isolate;
}
/* ----------- */
:root {
  --clr-orange: hsl(31, 77%, 52%);
  --clr-green-400: hsl(184, 100%, 22%);
  --clr-green-900: hsl(179, 100%, 13%);

  --clr-transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --clr-light-gray: hsl(0, 0%, 95%); /* bg-heading-buttons */

  --font-size-base: 0.9375rem;
  --font-lexendDeca: "Lexend Deca", sans-serif; /* 400 */
  --font-shouldersDisplay: "Big Shoulders Display", cursive; /* 700 */
}
body {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-lexendDeca);
  font-weight: 400;
  background-color: var(--clr-light-gray);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-block: 5.5rem;
}
.card-component {
  width: 87%;
  max-width: 420px;
  border-radius: 0.5rem;
  background-color: red;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.sedans,
.suvs,
.luxury {
  padding: 3rem 3.05rem;
}

.sedans {
  background-color: var(--clr-orange);
}
.suvs {
  background-color: var(--clr-green-400);
}
.luxury {
  background-color: var(--clr-green-900);
}
.title {
  font-weight: 700;
  font-family: var(--font-shouldersDisplay);
  font-size: 2.48rem;
  text-transform: uppercase;
  color: var(--clr-light-gray);
  margin-block: 1.85rem 1.25rem;
}
.text {
  line-height: 1.655;
  color: var(--clr-transparent-white);
  margin-bottom: 1.5rem;
}

.btn {
  padding: 0.94rem 1.88rem;
  border: 2px solid transparent;
  outline: 0;
  background-color: var(--clr-light-gray);
  border-radius: 150px;
  line-height: 1;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.sedans .btn {
  color: var(--clr-orange);
}
.suvs .btn {
  color: var(--clr-green-400);
}
.luxury .btn {
  color: var(--clr-green-900);
}
.btn:hover {
  cursor: pointer;
  border: 2px solid var(--clr-light-gray);
  background-color: transparent;
  color: var(--clr-light-gray);
}

@media screen and (min-width: 920px) {
  .card-component {
    width: 90%;
    max-width: 920px;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .sedans,
  .suvs,
  .luxury {
    padding: 3rem 3rem;
  }

  .text {
    margin-bottom: 5.15rem;
  }
}
